<div class="nav_group">
	<a href="https://dandykong.github.io/" id="nav_element_home"><img src="https://dandykong.github.io/img/iconmonstr-home-6-32.png"/></a>
	<div class="nav_drop">
		<input type="image" class="nav_dropbtn" src="https://dandykong.github.io/img/iconmonstr-flask-2-32.png"></input>
		<div class="nav_drop_content">
			<a href="https://dandykong.github.io/aframe-lab/" id="nav_element_aframe_lab">A-Frame Lab</a>
		</div>
	</div>
</div>
<div class="nav_group avatar_button">
	<input type="button" onclick="document.getElementById('avatar_select').click();" value="Select Avatar (WIP)" />
	<input type="file" id="avatar_select" style="display: none;" accept=".glb, .vrm" />
</div>
<div class="nav_group">
	<div class="hide_on_aframe_mobile">
		<a href="https://www.github.com/dandykong/"><img src="https://dandykong.github.io/img/GitHub-Mark-32px.png"/></a>
		<a href="https://www.linkedin.com/in/daniel-harrison-418552b4"><img src="https://dandykong.github.io/img/iconmonstr-linkedin-3-32.png"/></a>
		<a href="https://www.facebook.com/profile.php?id=100070299536885"><img src="https://dandykong.github.io/img/iconmonstr-facebook-1-32.png"/></a>
		<a href="https://twitter.com/dandykong1"><img src="https://dandykong.github.io/img/iconmonstr-twitter-1-32.png"/></a>
		<a href="https://www.youtube.com/channel/UClqzoKW30qtgzVGG1pwoUPA"><img src="https://dandykong.github.io/img/iconmonstr-youtube-1-32.png"/></a>
	</div>
</div>
