<div class="nav_group">
	<a href="https://dandykong.github.io/" id="nav_element_home"><img src="https://dandykong.github.io/img/iconmonstr-home-6-32.png"/></a>
	<div class="nav_drop">
		<input type="image" class="nav_dropbtn" src="https://dandykong.github.io/img/iconmonstr-flask-2-32.png"></input>
		<div class="nav_drop_content">
			<a href="https://dandykong.github.io/aframe-lab/" id="nav_element_aframe_lab">A-Frame Lab</a>
		</div>
	</div>
</div>
<div class="nav_group">
	<a href="https://beacons.ai/dandykong"><img src="https://dandykong.github.io/img/profile_beacons.png" width="32px" height="32px"></a>
</div>
