<div class="nav_group">
	<a href="https://dandykong.github.io/" id="nav_element_home"><img src="img/iconmonstr-home-6-32.png"/></a>
	<a href="https://dandykong.github.io/portfolio/" id="nav_element_portfolio"><img src="img/iconmonstr-briefcase-1-32.png"/></a>
	<div class="nav_drop">
		<input type="image" class="nav_dropbtn" src="img/iconmonstr-flask-2-32.png"></input>
		<div class="nav_drop_content">
			<a href="https://dandykong.github.io/test-lab/" id="nav_element_aframe_lab">A-Frame Lab</a>
		</div>
	</div>
</div>
<div class="nav_group">
	<a href="https://www.github.com/dandykong/"><img src="img/GitHub-Mark-32px.png"/></a>
	<a href="https://www.linkedin.com/in/daniel-harrison-418552b4"><img src="img/iconmonstr-linkedin-3-32.png"/></a>
	<a href="https://www.facebook.com/profile.php?id=100070299536885"><img src="img/iconmonstr-facebook-1-32.png"/></a>
	<a href="https://twitter.com/dandykong1"><img src="img/iconmonstr-twitter-1-32.png"/></a>
	<a href="https://www.youtube.com/channel/UClqzoKW30qtgzVGG1pwoUPA"><img src="img/iconmonstr-youtube-1-32.png"/></a>
</div>
<script type="text/javascript">
	document.getElementById(getActiveNav()).classList.add("nav_active");
</script>
