body {
	background-color: lightgray;
	margin: 0px;
	font-family: Roboto, monospace;
}

#main_container {
	display: block;
	margin: auto;
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 10px;
	width: 95%;
	height: 85%;
	box-shadow: 0px 0px 20px white;
	background-color: white;
}

#navbar {
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 99;
	width: 100%;
	background-color: white;
	box-shadow: 0px 0px 20px white;
}
.nav_group {
	display: flex;
	align-content: center;
	align-items: center;
}
.nav_group a, .nav_dropbtn {
	padding: 10px;
}
.nav_group a:hover {
	background-color: cyan;
	box-shadow: 0px 0px 20px cyan;
}
.nav_active {
	pointer-events: none;
	background-color: #99FFFF;
	box-shadow: 0px 0px 20px #99FFFF;
}

.nav_drop {
	position: relative;
	display: inline-block;
}
.nav_drop_content {
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 100;
	background-color: white;
	box-shadow: 0px 0px 20px white;
}
.nav_drop_content a {
	text-decoration: none;
	display: block;
}

.nav_drop:hover .nav_drop_content {
	display: block;
}
.nav_drop:hover .nav_dropbtn {
	background-color: cyan;
	box-shadow: 0px 0px 20px cyan;
}

#history_and_skills {
	display: flex;
}

#history_container {
	display: flex;
	flex-direction: column;
	width: 60%;
}
.history_header {
	background-color: lightgray;
}
.history_subcontainer {
	display: inline-block;
	padding: 5px;
	background-color: white;
	box-shadow: 0px 0px 20px cyan;
	border: 2px solid #99FFFF;
	outline: 2px solid cyan;
}
#history_container h3, #skills_container h3 {
	margin: 0;
}

#skills_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.caption {
	display: flex;
	padding: 10px;
	color: #009999;
	font-size: 18px;
	text-align: left;
	background-color: white;
	box-shadow: 0px 0px 20px cyan;
	text-shadow: 0px 0px 8px cyan;
	border: 2px solid #99FFFF;
	outline: 2px solid cyan;
}
.caption img {
	margin-right: 10px;
	border: 2px solid #99FFFF;
	outline: 2px solid cyan;
}

input {
	font-family: Roboto, monospace;
	color: #009999;
	text-shadow: 0px 0px 8px cyan;
}
input[type=button], input[type=button]:active {
	background-color: #009999;
	box-shadow: 0px 0px 20px #009999;
	border: none;
	color: white;
	text-shadow: 0px 0px 8px white;
}
input[type=button]:hover {
	background-color: cyan;
	box-shadow: 0px 0px 20px cyan;
}
input[type=button]:disabled {
	background-color: gray;
	box-shadow: none;
}